/* SECTION 1: Black Panther */
/* Colors*/
:root {
    --myWhite: #FFFFFF ;
    --mySoftPink : #F2CEF2 ;
    --mySoftViolet : #9E91B7 ;
    --myPink : #DF99F2 ;
    --myViolet: #3D2DA6;
    --myBlue : #07338C;
    --myDarkBlue:#021740;
 }

.sec1BP {
    margin: 50px 5% 20px 10%;
}

/* media queries */
@media screen and (min-width: 700px) {
    .sec1BP {
        display: flex;
        align-items: center;
        margin: 0 0 0 10%; 
    }

    .sec1BP__art {
        width: 40%;
    }

    .sec1BP__imgCont {
        width: 60%;
    }
}

.sec1BP__art {
    margin-left: 15px
}

.sec1BP__imgCont img {
    width: 100%;
}


/* SECTION 2: Caroussel, acotrs and descriptions */
.sec2Carrous {
    margin-left: 10%;
}
.sec2Carrous p{
    font-size: 10px;
}

/**Style for each slide element */
.item {
    background-color: var(--myDarkBlue);
    box-shadow: 0 15px #3232321a, 0 5px 15px #0000001a;
    transition: transform 0.3s;
    transform: translate3d(0, -2px, 0);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2Carrous__figCont__fig__imgCont {
    width: 50%
}

.sec2Carrous__figCont__fig__imgCont img{
    display: block;
    width: 100%;
    height: auto;
}

.sec2Carrous__figCont__descCont {
    padding: 0 10px;
    width: 50%;
    
}

.sec2Carrous__figCont__descCont h2 {
    color : var(--myViolet) ;
    margin-top: 3px;
}

.items {
    position: relative;
}

/**CAROUSEL */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
    display: flex;
}

.carousel__container::after {
    content: "";
    clear: both;
    display: table;
}

.carousel__next {
    position: absolute;
    width: 30px;
    height: 30px;
    background: var(--myDarkBlue) url(../Assets/Illustrations_Logo/Accueil/right-arrow.png) center center no-repeat;
    background-size: 20px 20px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    box-shadow: 0 0 20px white;
    cursor: pointer;
    right: 5px;
    transition: transform 0.3s, opacity 0.3s
}

.carousel__next:hover{
    transform: scale(1.2)
}

.carousel__next--hidden {
    opacity: 0
}

.carousel__pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}

.carousel__pagination__button {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    box-shadow: 0 2px #3232321a;
    transition: transform 0.3s;
    cursor: pointer;
}

.carousel__pagination__button--active,
.carousel__pagination__button:hover {
    transform: scale(1.4);
}

@media screen and (min-width: 800px) {
    .carousel__pagination {
        display: block;
    }
}
/* SECTION 3 : main article and aside */
.sec3PrincAs {
    margin: 75px 5% 75px 10%;
}

/* Media queries */
@media screen and (min-width: 700px) {
    .sec3PrincAs {
        display:grid;
        grid-template-columns: 2fr 1fr; 
        column-gap: 3%;
    }
}

/* Main Article */
.sec3PrincAs__artP {
    margin: 40px 5% 0;
}

.sec3PrincAs__artP section {
    margin-top: 30px
}

/* Aside */
.sec3PrincAs__as {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Adding container height less than img height and adding a heigher z-index*/
.sec3PrincAs__as__fig__imgCont{
    text-align: center;
    height: 175px; 
}

.sec3PrincAs__as__fig__imgCont img {
    max-width: 250px;
    z-index: 1;
}

/* Main contain and aside */
.sec3PrincAs__as__fig__descDiv {
    background-color: var(--myWhite);
    border-radius: 10px;
    color: black;
    padding: 160px 10% 75px;
}

.sec3PrincAs__as__fig__descDiv > *,
.sec3PrincAs__as__fig__descDiv__detailsList ul li{
    margin: 10px 0;
    text-align: left;
    
}

.sec3PrincAs__as__fig__descDiv__figcaption {
    text-align: center;
    font-weight: bold;
}

.sec3PrincAs__as__fig__descDiv li{
    list-style: none;
}

/* Violet button in aside */
.sec3PrincAs__as__fig__descDiv__btn ul {
    display: flex;
    justify-content: space-between;
}

.sec3PrincAs__as__fig__descDiv__btn ul li {
    background-color: #3d2da6c4;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 2px;
}

.sec3PrincAs__as__fig__descDiv__btn ul li:hover {
    background-color: var(--myViolet);
}

.sec3PrincAs__as__fig__descDiv a{
    text-decoration: none;
    font-size: 11px;
}

.sec3PrincAs__as__fig__descDiv span{
    font-weight: bold;
}

/* Black panther img in the bottom of aside */
.sec3PrincAs__as__botfig img {
    max-width: 100%
}


/* SECTION 4 : Form */
.sec4FormSec {
    background: url(../Assets/Illustrations_Logo/Accueil/Pantherhome4.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.sec4FormSec__form {
    background-image: linear-gradient(rgba(255, 255, 255, 0.85) 15%, rgba(255, 255, 255, 0.08));
    margin: 130px 0 75px;
    padding: 20px;
    width: 50%;
    border-radius: 100px ;
    border: none;
    text-align: center;
    }

.sec4FormSec__form p,
.sec4FormSec__form h2  {
    color: black;
    text-align: center;
    font-family: cantarell;
    margin: 0;
}

.sec4FormSec__form h2  {
    font-size: 25px;
    margin-bottom: 10px;
}

.sec4FormSec__form p{
    font-size: 12px;
    margin: 0 10px;
}

/* Input and textarea style in form */
.sec4FormSec__form input {
    /* width: 520px;
    height: 56px; trop grand */
    width: 70%;
    height: 40px;
    border-radius: 38px;
    padding: 10px 20px;
    background-color: transparent;
    border: solid rgba(0, 0, 0, 0.5) 1px;
}

.sec4FormSec__form input,
.sec4FormSec__form textarea {
    margin: 5px 0;
}

textarea {
    /* width: 520px;
    padding: 10px 20px;  trop grand*/
    width: 70%;
    padding: 10px 20px;
    border-radius: 38px;
    background-color: transparent;
    border: solid rgba(0, 0, 0, 0.5) 1px;
}

.sec4FormSec__form input::placeholder,
.sec4FormSec__form textarea::placeholder {
    color: black;
    font-family: cantarell;
}

/* Form media query to reduce margin */
@media screen and (max-width: 600px) {
    .sec4FormSec__form input {
        width: 100%;
        height: 30px;
        border-radius: 10px;
        padding: 5px 15px;
    }

    .sec4FormSec__form textarea {
        width: 100%;
        border-radius: 10px;
        padding: 5px 15px;
    }
}

/* Form submit button */
.sec4FormSec__form button {
    /* width: 174px;
    height: 54px; trop grand */
    width: 125px;
    height: 40px;
    border: none;
    border-radius: 38px;
    background-color: var(--mySoftPink);
    font-weight: bolder;
    font-size: 12px;
}

.submitBtn:hover {
    filter: drop-shadow(0 0 10px var(--mySoftPink)) ;
}

/* Form Popup Box on submit*/
.messagePopupBox {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 80vh;
    width: 80vw;
    background-color:#3d2da6ef;;
    margin: 15px;
    border-radius: 38px;
    z-index: 2;
  }

  .messagePopupBox h2{
    color: white
  }