/* Colors*/
:root {
    --myWhite: #FFFFFF ;
    --mySoftPink : #F2CEF2 ;
    --mySoftViolet : #9E91B7 ;
    --myPink : #DF99F2 ;
    --myViolet: #3D2DA6;
    --myBlue : #07338C;
    --myDarkBlue:#021740;
 }

/* SECTION 1 : Wakanda Forever */
.sec1WaFo {
    background: url(../Assets/Illustrations_Logo/Wakanda/Pantherwakanda1Sansbord.png) no-repeat;
    background-size: cover;

    border: dotted 1px transparent;
}

.sec1WaFo__artDiv {
    margin: 16vw 12.5% 16vw 12.5%;
}

.sec1WaFo__artDiv p{
    padding-top: 35px;
    max-width: 400px;
}

.sec1WaFo__artDiv h1 {
    font-family: Beyno;
    font-size: 60px;
}

.sec1WaFo__artDiv h2 {
    font-family: "Wakanda Forever";
    font-size: 40px;
}

/* SECTION 2 : Main article */
.sec2WaArtP {
    margin: 0 5% 0 12.5%;
}

.Sec2WaArtP__artPCont {
    padding: 5vw 0;
    background: url(../Assets/Illustrations_Logo/Wakanda/Pantherwakanda2Sansbord.png) no-repeat;
    background-size: contain;
}

/* Media Query for small screen */
@media screen and (min-width: 850px) {
    .Sec2WaArtP__artPCont {
        column-count: 2;
        gap: 10%;
    }

    .sec2WaArtP {
        margin: 0 12.5%;
    }
}


.Sec2WaArtP__artPCont figure{
    text-align: center;
}

.sec2WaArtP video,
.sec2WaArtP img {
    min-width: 100%;
    max-width: 100%;
    max-height: 400px;
    margin: 20px 0;
}